/* begin Bernhard Modern */
@font-face {
  font-family: 'Bernhard Modern';
  src : url('../fonts/bernhardModern/BernhModBTRom.eot');
  src : url('../fonts/bernhardModern/BernhModBTRom.eot?#iefix') format('eot'),
        url('../fonts/bernhardModern/BernhModBTRom.woff2') format('woff2'),
        url('../fonts/bernhardModern/BernhModBTRom.woff') format('woff'),
        url('../fonts/bernhardModern/BernhModBTRom.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
/* end Bernhard Modern */
/* begin Century Gothic */
@font-face {
  font-family: 'Century Gothic';
  src : url('../fonts/centuryGothic/CenturyGothic.eot');
  src : url('../fonts/centuryGothic/CenturyGothic.eot?#iefix') format('eot'),
        url('../fonts/centuryGothic/CenturyGothic.woff2') format('woff2'),
        url('../fonts/centuryGothic/CenturyGothic.woff') format('woff'),
        url('../fonts/centuryGothic/CenturyGothic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-display: swap;
}
/* end Century Gothic */
html {
  background: linear-gradient(to right, rgba(5,242,190,1.0), rgba(46,244,143,1.0)) no-repeat top left;
}
body {
  background: url("../img/thailandMain.png") no-repeat top left;
  background-size: 45% auto;
  font-family: 'Century Gothic';
  font-style: normal;
  font-size: 14px;
}
@media (max-width: 600px) {
  body {
    background-size: 80% auto;
  }
}
.jumbotron {
  background-color: rgba(5,242,190,0.0);
}
.jumbotron h1 {
  font-family: 'Bernhard Modern';
  color: rgba(0,0,0,1.0);
  font-size: 95px;
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
@media (min-width: 600px) {
  .jumbotron h1 {
    font-size: 129px;
  }
}
.jumbotron .row {
  background: linear-gradient(to top, rgba(5,242,190,.65), rgba(46,244,143,.65)) no-repeat top left;
  padding: 2em 2em 2em 2em;
}
.jumbotron .lead  {
  margin: 0 0 .5em .5em;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.4;
  padding: 0 0 0 0;
  text-align: center;

}
@media (min-width: 768px) {
  .jumbotron .lead {
    font-size: 2em;
    padding: 0 0 0 0;
  }
}
.jumbotron p {
  font-family: 'Century Gothic';
}
.jumbotron img {
  width:90%;
  margin: 1em 0 0 0;
}
.jumbotron blockquote {
  border: 0 solid rgba(255, 255, 255, 0.0);
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.jumbotron blockquote p {
  font-style: italic;
  font-size: .9em;
  margin: 0 0 0 0;
  padding: .25em .25em .25em .75em;
}
.jumbotron footer {
  color: rgba(0,0,0,1.0);
  font-size: .7em;
  margin: .125em 0 0 0;
  padding: 0 0 0 0;
}

.package {
  border: 2px solid rgba(255,255,255, 1.0);
  margin: -2em 1em 1em 1em;
  padding: 0em 1em 1em 1em;
}
.package h1 {
  background-color: rgba(255,255,255, 0.25);
  text-align: center;
  margin: 0 -.5em .5em -.5em;
  padding: .5em .5em .5em .5em;
}
/* begin Bernhard Modern */
.bernhardModern {
  font-family: 'Bernhard Modern', serif;
  font-variant: normal;
  font-weight: 400;
  font-style: serif;
}
/* end Bernhard Modern */

/* begin Century Gothic */
.centuryGothic {
  font-family: 'Century Gothic', serif;
  font-variant: normal;
  font-weight: 400;
  font-style: serif;
}
/* end Century Gothic */
